body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: coral;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}

.lead {
    color: black;
}

.card-title { 
    color: black;
}

.card-text {
    color: black;
}